<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/bootstrap.min.css">
    <title>Blog Web Application</title>
</head>
<body>
    <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
        <div class="col-md-3 mb-2 mb-md-0">
          <a href="/" class="d-inline-flex link-body-emphasis text-decoration-none">
            <svg xmlns="http://www.w3.org/2000/svg" style="margin:10px;" width="50" height="50" fill="currentColor" class="bi bi-amd" viewBox="0 0 16 16">
                <path d="m.334 0 4.358 4.359h7.15v7.15l4.358 4.358V0zM.2 9.72l4.487-4.488v6.281h6.28L6.48 16H.2z"/>
              </svg>
              <h3 style="margin-top: 25px;"><em>Vlog</em></h3>
          </a>

        </div>
  
        <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
          <li><a href="home" class="nav-link px-2" style="color: chocolate;" >Home</a></li>
          <li><a href="myBlog" class="nav-link px-2" style="color: black;">My Blog</a></li>
          <li><a href="about" class="nav-link px-2" style="color: black;">About us</a></li>
          <li><a href="contact" class="nav-link px-2" style="color: black;">Contact us</a></li>
        </ul>
  
        <div class="col-md-3 text-end">
        <a href="login"><button  type="button" class="btn btn-primary" style="background-color: chocolate;"> Log Out</button></a>
        </div>
      </header>
    
