<%- include("partials/header.ejs") %>
<div style="text-align: center; height: 80vh; width: 100%;">
<h1>About Us</h1>
<p>Lorem ipsum dolor sit amet consectetur,Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa tenetur nemo voluptatibus voluptates
     ab accusantium placeat, Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi accusamus vero doloremque nobis nihil esse nisi
      necessitatibus deleniti Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis dolorem laborum quo inventore sit unde aut quibusdam, delectus 
    accusantium numquam nostrum libero expedita quisquam reprehenderit, illo facilis sed consequuntur sint. voluptatibus quod rem, consequuntur 
    vitae omnis eveniet similique eum unde temporibus nostrum.debitis inventore ut! Soluta nostrum sit repellendus vel eius dolorum animi temporibus
     minus in? adipisicing elit. Nam rerum aliquid quibusdam, quod corporis illo rem tempore non, quisquam eos nihil praesentium dolores. Asperiores 
     corrupti enim minima nam pariatur nemo.</p>
</div>
<%- include("partials/footer.ejs") %>
</body>
</html>