<%- include("partials/header.ejs") %>
<section style="background-color: rgba(255, 228, 196, 0.671) ;" >
<div  class="p-4 p-md-5 mb-4 rounded text-body-emphasis bg-body-secondary"  style="background-image:url(images/blogpost.jpg) ; background-repeat:no-repeat;background-size:cover; height: 600px;" >
    <div class="col-lg-6 px-0" style="color: black;">
      <h1 class="display-4 fst-italic" style="font-weight: bolder; color: white; padding-top: 100px;">Create your Blog....</h1>
      <p class="lead my-3" style="color: white;">Multiple lines of text that form the lede, informing new readers quickly and efficiently about what’s most interesting in this post’s contents.</p>
      <p class="lead mb-0" style="color: chocolate;"><a href="/myBlog" class="text-body-emphasis fw-bold" style="color:white">Continue reading...</a></p>
    </div>
  </div>
</section>
<%- include("partials/footer.ejs") %>